@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Delius', cursive;
  font-size: 1.5rem;
  color: white;
}

body {
  font-family: 'Delius', cursive;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
  color:rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
}

form {
  border: 2px solid white;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

input, button {
  border: 1px solid white;
  background: none;
  border-radius: 5px;
  color: white;
  padding: .5em;
  transition: border 500ms;
  outline: none;
}

button {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
  transition: color 500ms;
}

button:hover {
  color: rgba(255, 255, 255, 1);
}

input {
  margin-bottom: 20px;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

input:focus {
  outline: 1px solid white;
  outline-offset: 5px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: color 500ms;
}

input:focus::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.highFiveModal {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(10px); */
  text-align: center;
  position: absolute;
  scale: 100%;
  transition: all 500ms;
  user-select: none;
  opacity: 1;
}

.highFiveModalBackdrop {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  opacity: 1;
  transition: all 500ms
}

.backdropHidden {
  opacity: 0;
}

.hidden {
  opacity: 0;
  scale: 0;
}

.highFiveText {
  z-index:1;
}

.highFiveImg {
  z-index: 1;
}

.highFiveSmallText {
  z-index: 1;
  font-size: .75rem;
  color: white;
}